body {
  background-color: steelblue;
  font-family: monospace; }

.taskContainer {
  list-style: none; }
  .taskContainer .task {
    display: inline-block; }
    .taskContainer .task .label {
      height: 20px;
      padding: 10px;
      line-height: 20px;
      border: 1px dotted yellow;
      border-radius: 5px;
      background-color: rgba(211, 159, 236, 0.72); }
      .taskContainer .task .label div {
        float: left; }
      .taskContainer .task .label .edge {
        display: inline-block;
        width: 5px;
        height: 20px; }
        .taskContainer .task .label .edge.left {
          background: url("images/task-edge-left.png") no-repeat; }
        .taskContainer .task .label .edge.right {
          background: url("images/task-edge-right.png") no-repeat; }
      .taskContainer .task .label .check {
        display: inline-block;
        width: 20px; }
        .taskContainer .task .label .check .input {
          margin: auto; }
      .taskContainer .task .label .text {
        margin-left: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 270px; }
        .taskContainer .task .label .text.done {
          text-decoration: line-through; }
    .taskContainer .task .label.readyForWork {
      background-color: rgba(255, 255, 255, 0.72); }
    .taskContainer .task .controls {
      background-color: rgba(211, 159, 236, 0.72);
      display: none;
      width: 126px;
      margin: auto; }
      .taskContainer .task .controls span {
        float: left; }
      .taskContainer .task .controls .edge {
        width: 13px;
        height: 20px; }
      .taskContainer .task .controls .edge.right {
        background: url("images/edge-right.png") no-repeat; }
      .taskContainer .task .controls .button {
        background-image: url("images/buttons.png");
        background-color: rgba(211, 159, 236, 0.72);
        text-align: center;
        width: 25px;
        height: 20px; }
        .taskContainer .task .controls .button:hover {
          cursor: pointer;
          background-color: rgba(149, 40, 202, 0.72); }
        .taskContainer .task .controls .button.edit {
          background-position: -100px; }
        .taskContainer .task .controls .button.x {
          background-position: -75px; }
        .taskContainer .task .controls .button.record {
          background-position: -25px; }
        .taskContainer .task .controls .button.record.inProgress {
          background-position: -50px;
          background-color: red;
          background-image: none; }
        .taskContainer .task .controls .button.add {
          background-position: 0px; }
  .taskContainer .subtasks {
    margin-top: 0;
    margin-bottom: 0; }

#taskEdit {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  #taskEdit .blackout {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #555;
    opacity: .8;
    z-index: 100; }
  #taskEdit form {
    position: relative;
    z-index: 101;
    width: 410px;
    padding: 10px;
    margin: 100px auto;
    background-color: #999;
    border-radius: 5px;
    padding-bottom: 28px; }
    #taskEdit form input[type="text"], #taskEdit form textarea, #taskEdit form .buttons {
      display: block;
      width: 402px;
      border: 0;
      padding: 4px; }
    #taskEdit form .buttons a, #taskEdit form .buttons input {
      float: right; }
